<template>
    <div id="app">
        <div>
            <el-header>
                <el-row :gutter="20">
                    <el-col :span="12"><i class="main-logo el-icon-goods"></i></el-col>
                    <el-col :span="12">
                        <el-menu class="el-menu-demo" mode="horizontal" @select="handleSelect">
                            <el-menu-item v-for="(item, indexItem) in navigations" :index="String(indexItem)"><a
                                    :href="item.link">{{item.title}}</a></el-menu-item>

                        </el-menu>
                    </el-col>
                </el-row>
            </el-header>

            <el-row class="black-bg">
                <el-col :span="24">
                    <h1>I <i :class="section1.icon"></i> Color</h1>
                    <p style="text-align:center; color: #fff" v-html="section1.message"></p>
                </el-col>
                <el-col>
                    <el-button round @click="buttonClick" >Over to you</el-button>
                </el-col>
            </el-row>

            <el-row class="last-section">
                <el-col :span="8" v-for="item in section2">
                    <el-card shadow="always">
                        <i :class="item.icon"></i>
                        <strong>{{item.title}}</strong>
                        <p>{{item.description}}</p>
                    </el-card>
                </el-col>

            </el-row>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                'navigations': [
                    {'title': 'Red', 'link': '#red'},
                    {'title': 'Blue', 'link': '#blue'},
                    {'title': 'Green', 'link': '#green'},
                    {'title': 'Yellow', 'link': '#yellow'},
                    {'title': 'Pink', 'link': '#pink'},
                    {'title': 'Purpose', 'link': '#purpose'}
                ],
                'section1' : {
                    'message' : 'Color is really isn\'t that difficult to get right, if you know where to start.<br> Learn by doing and you\'ll be a master in no time.',
                    'icon' : 'el-icon-picture'
                },
                'section2' : [
                    {
                        'icon':'el-icon-s-ticket',
                        'title': 'Blue',
                        'description': 'Blue is the color of the sky and sea, it is often associalated with depth and stability.\n' +
                            'It symbolizes trust, loyality wisdom, confidence, intelligence faith, truth, and heaven.',
                    },
                    {
                        'icon':'el-icon-s-management',
                        'title': 'Green',
                        'description': 'Green is the color of the sky and sea, it is often associalated with depth and stability.\n' +
                            'It symbolizes trust, loyality wisdom, confidence, intelligence faith, truth, and heaven.',
                    },
                    {
                        'icon':'el-icon-s-open',
                        'title': 'Red',
                        'description': 'Red is the color of the sky and sea, it is often associalated with depth and stability.\n' +
                            'It symbolizes trust, loyality wisdom, confidence, intelligence faith, truth, and heaven.',
                    },

                ]

            }
        },
        methods: {
            handleSelect() {
                return ''
            },
            buttonClick(){
                const h = this.$createElement;

                this.$notify({
                    title: 'Ok this is test message',
                    message: h('i', { style: 'color: teal' }, 'This is a message to alert with Notify cation')
                });
            }
        }
    }
</script>

<style>
    #app {
        font-family: Helvetica, sans-serif;
        text-align: center;
    }

    .main-logo {
        font-size: 55px;
    }
    .black-bg{
        background: #c6c6c6;
        padding-top: 50px;
        padding-bottom: 200px;
    }
    .last-section{
        background: #9c9c9c;
    }
    .last-section .el-col{
        padding-left: 15px;
        padding-right: 15px;
        min-height: 300px;
    }
    .last-section .el-col > div{
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        top: -115px;
        background: #fff;
    }
</style>
